In [ ]:
import pandas as pd
import re
from datetime import datetime

df = pd.read_excel(r"c:\Users\yunis\Downloads\data_cleaning  (1).xlsx", sheet_name="Usage", header=None)

def parse(x):
    t = x.replace("_"," ")
    u = float(re.search(r"(\d+\.\d+)", t).group(1))
    h = re.search(r"(\d{1,2}\s*[APMapm]{2})", t).group(1).upper().replace(" ", "")
    d = re.sub(r"(st|nd|rd|th)", "", re.search(r"\d+(?:st|nd|rd|th)?-[A-Za-z]{3}-\d{4}", t).group(0))
    dt = datetime.combine(datetime.strptime(d, "%d-%b-%Y").date(),
                          datetime.strptime(h, "%I%p").time())
    return pd.Series([dt, h, u])

clean = df[0].apply(parse)
clean.columns = ["datetime", "hour", "usage_kwh"]
clean["weekday"] = clean["datetime"].dt.day_name()

clean.head()

             datetime hour  usage_kwh    weekday
0 2014-03-24 15:00:00  3PM      0.384     Monday
1 2014-08-15 05:00:00  5AM      1.201     Friday
2 2014-03-20 20:00:00  8PM      1.523   Thursday
3 2014-04-23 18:00:00  6PM      0.424  Wednesday
4 2014-12-19 01:00:00  1AM      0.209     Friday

In [11]:
clean

                datetime  hour  usage_kwh    weekday
0    2014-03-24 15:00:00   3PM      0.384     Monday
1    2014-08-15 05:00:00   5AM      1.201     Friday
2    2014-03-20 20:00:00   8PM      1.523   Thursday
3    2014-04-23 18:00:00   6PM      0.424  Wednesday
4    2014-12-19 01:00:00   1AM      0.209     Friday
...                  ...   ...        ...        ...
8755 2014-11-07 01:00:00   1AM      0.084     Friday
8756 2014-05-20 06:00:00   6AM      1.027    Tuesday
8757 2014-04-08 02:00:00   2AM      0.052    Tuesday
8758 2014-01-27 21:00:00   9PM      1.428     Monday
8759 2014-08-25 12:00:00  12PM      0.528     Monday

[8760 rows x 4 columns]

In [ ]:
#question 1(What is your average hourly electricity usage?) So answer is B
clean["usage_kwh"].mean()

0.7817481735159817

In [ ]:
#question2(What is your average electricity usage perhour in February?). Answer is D
clean[clean["datetime"].dt.month == 2]["usage_kwh"].mean()

0.8337347242921014

In [ ]:
#question3(Which day of the week has the highestaverage usage?). Answer is A
clean.groupby(clean["datetime"].dt.day_name())["usage_kwh"].mean().sort_values(ascending=False)

datetime
Sunday       0.898601
Saturday     0.890300
Friday       0.753666
Thursday     0.746375
Wednesday    0.733699
Monday       0.725894
Tuesday      0.724843
Name: usage_kwh, dtype: float64

In [19]:
#question 4(What is the highest amount of electricityused in a continuous 4 hour period?)
sorted = clean.sort_values("datetime")

sorted["rolling4"] = sorted["usage_kwh"].rolling(4).sum()

In [20]:
sorted["rolling4"].max() #Answer is A

17.237000000000002

In [27]:
#question 5(Based on your historic electricity usage, what would your annual cost of electricitybe under the "Monthly Flex" contract?)
contracts = pd.read_excel(r"c:\Users\yunis\Downloads\data_cleaning  (1).xlsx", sheet_name="Contracts", header=None)
contracts

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,No Flex,NaN,NaN,NaN,Monthly Flex,NaN,NaN,NaN,Hourly Flex,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Flat Rate,0.21,$/kWh,NaN,January,0.20,$/kWh,NaN,12AM until 1AM,0.10,$/kWh
13,NaN,NaN,NaN,NaN,February,0.19,$/kWh,NaN,1AM until 2AM,0.10,$/kWh
14,NaN,NaN,NaN,NaN,March,0.17,$/kWh,NaN,2AM until 3AM,0.10,$/kWh
15,NaN,NaN,NaN,NaN,April,0.18,$/kWh,NaN,3AM until 4AM,0.10,$/kWh
16,NaN,NaN,NaN,NaN,May,0.22,$/kWh,NaN,4AM until 5AM,0.15,$/kWh
17,NaN,NaN,NaN,NaN,June,0.27,$/kWh,NaN,5AM until 6AM,0.20,$/kWh
18,NaN,NaN,NaN,NaN,July,0.24,$/kWh,NaN,6AM until 7AM,0.24,$/kWh
19,NaN,NaN,NaN,NaN,August,0.19,$/kWh,NaN,7AM until 8AM,0.24,$/kWh
20,NaN,NaN,NaN,NaN,September,0.18,$/kWh,NaN,8AM until 9AM,0.26,$/kWh
21,NaN,NaN,NaN,NaN,October,0.15,$/kWh,NaN,9AM until 10AM,0.20,$/kWh
22,NaN,NaN,NaN,NaN,November,0.14,$/kWh,NaN,10AM until 11AM,0.20,$/kWh
23,NaN,NaN,NaN,NaN,December,0.19,$/kWh,NaN,11AM until 12PM,0.26,$/kWh
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12PM until 1PM,0.26,$/kWh
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1PM until 2PM,0.20,$/kWh
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2PM until 3PM,0.24,$/kWh
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3PM until 4PM,0.18,$/kWh
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4PM until 5PM,0.15,$/kWh
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5PM until 6PM,0.30,$/kWh
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6PM until 7PM,0.24,$/kWh
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7PM until 8PM,0.24,$/kWh
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8PM until 9PM,0.12,$/kWh
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9PM until 10PM,0.11,$/kWh
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10PM until 11PM,0.10,$/kWh
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11PM until 12AM,0.10,$/kWh

In [29]:
#i have flat rate 0.21 so no flex = 0.21 rows 12-23 i have monthly flex so:
monthly_rates = contracts.iloc[12:24, 5].tolist()
monthly_rates

[0.2, 0.19, 0.17, 0.18, 0.22, 0.27, 0.24, 0.19, 0.18, 0.15, 0.14, 0.19]

In [ ]:
monthly_rates = contracts.iloc[12:24, 5].tolist()

clean["month"] = clean["datetime"].dt.month

monthly_usage = clean.groupby("month")["usage_kwh"].sum()

monthly_flex_cost = sum(
    monthly_usage[m] * monthly_rates[m-1]
    for m in range(1, 13)
)

monthly_flex_cost #So the answer is B

1421.20577

In [ ]:
#Question 5 answer is B

In [34]:
no_flex_rate = 0.21

no_flex_cost = clean["usage_kwh"].sum() * no_flex_rate

In [35]:
hourly_rates = contracts.iloc[12:36, 9].tolist()

clean["hour_num"] = clean["datetime"].dt.hour

hourly_flex_cost = sum(
    clean.iloc[i]["usage_kwh"] * hourly_rates[clean.iloc[i]["hour_num"]]
    for i in range(len(clean))
)

In [ ]:
#question 6 (Based on your historic electricity usage, which of the three contracts would pro- duce the lowest annual cost?) Answer is C
costs = {
    "No Flex": no_flex_cost,
    "Monthly Flex": monthly_flex_cost,
    "Hourly Flex": hourly_flex_cost
}

print("Q6 Cheapest plan =", min(costs, key=costs.get))

Q6 Cheapest plan = Hourly Flex